body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color :#243e63;
    background-color:  #e8eaee;
   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


header {
    /* position: fixed; */
    width: 100%;
    
}


.container {
    width: 980px;
    margin: auto;
}

.assiette {
    width: 50%;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.logo  img{
    width: 40px;
}

header .nav {
    display : flex; 
    justify-content: space-around;
    align-items: center;
    column-gap: 46px;
    height: 80px;
}

header .nav .logo {
    font-weight: 900;

}

header .nav .logo {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: #282525;
    font-weight: 500;
}
header .nav .menu {
    margin-left: 200px;
}

header .nav .menu ul {
    display: flex;
    column-gap: 30px;
    row-gap: 24px;
    align-items: center;
}

header .nav .menu ul a {
    color: black;
    font-weight: 600;
    font-size: 13px;
}

header .nav .connect ul {
    display: flex;
    align-items: center;
    column-gap: 8px;
    row-gap: 24px;
    

}
header .nav .connect ul a {
    color: black;
    font-weight: 600;
    font-size: 13px;
}

header .nav .connect ul li .inscription {
    background-color: #6415ff;
    padding: 13px 13px;
    color: #e8eaee;
    border-radius: 5px;
}
.svg {
    width: 100px;
    height: 100px;
    margin-left: 910px;
    margin-top: -70px;
    fill : lightgray !important ;
    position: absolute;
   
}




.flex {
    display: flex;
}

.block {
    display: block;
}


.delicieux > .flex {
    align-items: center;
}

.delicieux h1 {
    margin-top : -25px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

.delicieux .background {
    background-color: #6415ff;
    width: fit-content;
    padding: 8px 10px 8px 10px;
    color: #e8eaee;

}


section {
    padding: 70px 0 32px 0;
}

.delicieux .description {
    font-size: 12px;
    color:#718096;
    margin-bottom: 22px;
    font-weight: bold;
}

.delicieux .lecture #circle{
    
    column-gap: 20px;
    padding-left: 15px;
    
}

.delicieux .rencontreChef {
    font-size: 15px;
    padding-left: 10px;

}
.delicieux .hove {

    display :flex;
}
.delicieux .hove1 {
    display: flex;
}

.hove1 :hover {
    color: #6415ff;
}
#circle :hover {
    color: #6415ff;
}
.delicieux .btn {
    font-size: 15px;
    background-color:#6415ff;
    padding: 12px ;
    border-radius: 5px;
    color: #e8eaee;
}

.service {
    padding-top: 130px;
}



.service > .flex.container {
    align-items: center;
    column-gap: 16px;
    row-gap: 24px;
}

.assiette2 {
     width: 50%;
    border-radius: 20px;
    height: 30%;
    position: relative;
    z-index: 1;
    
}
.service h2 {
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-shadow: 1px 1px 0 rgba(13, 24, 28, 0.2)
    
    
}

.service .content1 {
    padding-left: 40px;
    margin-top: -10px;
}

.service .background {
    background-color: #6415ff;
    width: fit-content;
    padding: 8px 10px 8px 10px;
    color: #e8eaee;
}

.service .content1 .violet {
    font-size: 10px;
    color: #6415ff;
}
.service .content1 .description1 {
    font-size: 12px;
    color: #718096;
    font-weight: bold;
    margin-bottom: 22px;
}

.service .ajout {
    background-color: #6415ff;
    border-radius: 5px;
    padding: 12px;
    color: #e8eaee;
    font-size: 12px;
}

.svg2 {
    width: 100px;
    height: 100px;
    margin-left: 190px;
    margin-top: -50px;
    fill : lightgray !important ;
    position: absolute;
   
}

.prestation h3 {
    text-align: center;
    font-size: 40px;
    
}
.prestation .home, .chef, .traiteur {
    width: 300px;
    text-align: center;
}

.prestation .flex1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 110px; */
    margin-top: 70px;
}

.prestation > .flex1 {
    align-items: center;
}

.prestation .background {
    background-color:  #6415ff;
    color: #e8eaee;
    padding: 10px;
    
}
.flex1 h4 {
    font-weight: 700;
}

.prestation .flex1 .savoir {
    color: #6415ff;
}

.choisir {
    padding-top: 140px;
}

.choisir .flex2 {
    display: flex;
    
}

.choisir .flex .content .aleatoire {
    background-color:#6415ff;
    color: #e8eaee;

}

.choisir .flex .assiette3 {
    width: 50%;
    border-radius: 10px;
}

.choisir .flex .content .violet {
    font-size: 12px;
    color: #6415ff;
}
.choisir .flex .content h3 {
    font-size: 35px;
    font-weight: bold;
    margin-top: -5px;
}

.choisir .flex .content .descri {
    margin-top: -10px;
    font-size: 13px;
    color : #718096;
    font-weight: bold;
}

.choisir .flex2 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.choisir .flex2 .chiffre {
    font-size: 19px;
    font-weight: 900;
}

.choisir .flex2 .text {
    font-size: 14px;
    color: #6415ff;
}

.choisir .flex2 .client ,.oula {
    padding: 0px 0px 0px 40px;
}

.choisir .flex2 .chefs, .ole {
    padding: 0px 0px 0px 40px;
    
}

.choisir .flex .aleatoire {
    padding: 12px; 
    font-size: 12px;
    border-radius: 5px;
}
.prestation .flex1 .imgsvg {
    background-color: #fff;
    border-radius: 50%;
    width: 120px;
    /* height: 150px; */
    margin: auto;
}

footer {
    padding-top: 50px;
    background-color: #fff;
    

}

.choisir {
    margin-bottom: 130px;
}

footer .container2 {
    width: 980px;
    margin: auto;
}
footer .foot .title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 16px;
    
    
}

footer .link {
  display: flex;
  flex-direction: column;
  padding : 5px 0px 0px 0px;
  row-gap: 8px;
 
} 

footer .liste li a {
    font-size: 13px;
    font-weight: 600;
} 

footer .liste {
    width: 130px;
    margin-left: 0px;
}
footer #legal {
    width: 180px;
}
footer .listes {
    padding-left: 60px;
}
footer .listes .spam {
    margin-top: 25px;
    font-size: 13px;
    margin-bottom: 25px;
    
}
 footer .listes input {
    padding: 11px 70px 11px 5px; 
    color: lightgray;
    border: 2px solid lightgray;
    border-radius: 5px 0 0 5px;
    
}

footer .listes .btnInput {
    padding: 13px 18px;
    text-align: center;
    margin-left: -6px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #6415ff;
    color : #fff;
    
}

.border {
    border-top: 2px solid #b6bcc5;
    margin-top: 50px;
    
}

footer .flex .section1 .logoSection1 {
    width: 40px;
}

footer .cont {
    width: 980px;
    justify-content: space-between;
    margin: auto;

}

.section1 {
    display: flex;
    justify-content: center;
}
.section2 p,a {
    font-size: 13px;
}
.section3 {
    display: flex;
}





