body {
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
    color :#243e63;
    margin: 0;
    overflow-x: hidden;
    
   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


header {
    /* position: fixed; */
    width: 100%;
    
}


.container {
    width: 980px;
    margin: auto;
}

.assiette {
    width: 100%;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.video {
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.logo  img{
    width: 40px;
}

header .nav {
    display : flex; 
    justify-content: space-around;
    align-items: center;
    column-gap: 46px;
    height: 80px;
}

header .nav .logo {
    font-weight: 900;

}

header .nav .logo {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: #282525;
    font-weight: 500;
}
header .nav .menu {
    margin-left: 200px;
}

header .nav .menu ul {
    display: flex;
    column-gap: 30px;
    row-gap: 24px;
    align-items: center;
}

header .nav .menu ul a {
    color: black;
    font-weight: 600;
    font-size: 13px;
}

header .nav .connect ul {
    display: flex;
    align-items: center;
    column-gap: 8px;
    row-gap: 24px;
    

}
header .nav .connect ul a {
    color: black;
    font-weight: 600;
    font-size: 13px;
}

header .nav .connect ul li .inscription {
    background-color: #6415ff;
    padding: 13px 13px;
    color: #e8eaee;
    border-radius: 5px;
}
.svg {
    width: 100px;
    height: 100px;
    margin-left: 910px;
    margin-top: -70px;
    position: absolute;
   
}


.bulle {
    position: absolute;
    top: 330px;
    left: -250px;
}

.flex {
    display: flex;
}

.block {
    display: block;
}


.delicieux > .flex {
    align-items: center;
}

.delicieux h1 {
    margin-top : -25px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

.delicieux .background {
    background-color: #6415ff;
    
    width: fit-content;
    padding: 8px 10px 8px 10px;
    color: #e8eaee;
    

}

section {
    padding: 70px 0 32px 0;
}

.delicieux .description {
    font-size: 12px;
    color:#718096;
    margin-bottom: 22px;
    font-weight: bold;
}

.delicieux .lecture #circle{
    
    column-gap: 20px;
    padding-left: 15px;
    
}

.delicieux .rencontreChef {
    font-size: 15px;
    padding-left: 10px;

}
.delicieux .hove {

    display :flex;
}
.delicieux .hove1 {
    display: flex;
}

.hove1 :hover {
    color: #6415ff;
}
#circle :hover {
    color: #6415ff;
}
.delicieux .btn {
    font-size: 15px;
    background-color:#6415ff;
    padding: 12px ;
    border-radius: 5px;
    color: #e8eaee;
}

.service {
    padding-top: 130px;
}



.service > .flex.container {
    align-items: center;
    column-gap: 16px;
    row-gap: 24px;
}

.assiette2 {
     width: 50%;
    border-radius: 20px;
    height: 30%;
    position: relative;
    z-index: 1;
    
}
.js {
    width: 400px;
    margin: auto;
    padding-top: 55px;
}
.text {
    font-size: 18px;
    color: rgb(98, 198, 203);
    text-align: center;
    margin-top: 50px;
    
}
.service h2 {
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-shadow: 1px 1px 0 rgba(13, 24, 28, 0.2)
    
    
}

.service .content1 {
    padding-left: 40px;
    margin-top: -10px;
}

.service .background {
    background-color: #6415ff;
    width: fit-content;
    padding: 8px 10px 8px 10px;
    color: #e8eaee;
}

.service .content1 .violet {
    font-size: 10px;
    color: #6415ff;
}
.service .content1 .description1 {
    font-size: 12px;
    color: #718096;
    font-weight: bold;
    margin-bottom: 22px;
}

.service .ajout {
    background-color: #6415ff;
    border-radius: 5px;
    padding: 12px;
    color: #e8eaee;
    font-size: 12px;
}

.svg2 {
    width: 100px;
    height: 100px;
    margin-left: 190px;
    margin-top: -50px;
    position: absolute;
   
}

.prestation h3 {
    text-align: center;
    font-size: 40px;
    
}
.prestation .home, .chef, .traiteur {
    width: 300px;
    text-align: center;
}

.prestation .flex1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 110px; */
    margin-top: 70px;
}

.prestation > .flex1 {
    align-items: center;
}

.prestation .background {
    background-color:  #6415ff;
    color: #e8eaee;
    padding: 10px;
    
}
.flex1 h4 {
    font-weight: 700;
}

.prestation .flex1 .savoir {
    color: #6415ff;
}

.prestation .imgsvg :hover {
    transform: scale(1.5);
}

.choisir {
    padding-top: 140px;
}

.choisir .flex2 {
    display: flex;
    
}

.choisir .flex .content .aleatoire {
    background-color:#6415ff;
    color: #e8eaee;

}

.choisir .flex .assiette3 {
    width: 50%;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.choisir .flex .content .violet {
    font-size: 12px;
    color: #6415ff;
}
.choisir .flex .content h3 {
    font-size: 35px;
    font-weight: bold;
    margin-top: -5px;
}

.choisir .flex .content .descri {
    margin-top: -10px;
    font-size: 13px;
    color : #718096;
    font-weight: bold;
}

.choisir .flex2 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.choisir .flex2 .chiffre {
    font-size: 19px;
    font-weight: 900;
}

.choisir .flex2 .text {
    font-size: 14px;
    color: #6415ff;
}

.choisir .flex2 .client ,.oula {
    padding: 0px 0px 0px 40px;
}

.choisir .flex2 .chefs, .ole {
    padding: 0px 0px 0px 40px;
    
}

.choisir .flex .aleatoire {
    padding: 12px; 
    font-size: 12px;
    border-radius: 5px;
}

.svg3 {
    width: 100px;
    height: 100px;
    margin-left: 680px;
    margin-top: 330px;
    position: absolute;
}
.prestation .flex1 .imgsvg {
    background-color: #e8eaee;
    border-radius: 50%;
    width: 120px;
    /* height: 150px; */
    margin: auto;
}

.prestation h3 {
    display: flex;
    justify-content: center;

}
.prestation .skew {
    margin-left: 15px;
}
.skew {
    transform: skew(-14deg);
    background-color: #6415ff;
    width: fit-content;
    color: #fff;

}

footer {
    padding-top: 50px;
    background-color: #e8eaee;
    

}


.choisir {
    margin-bottom: 130px;
}

footer .container2 {
    width: 980px;
    margin: auto;
}
footer .foot .title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 16px;
    
    
}

footer .link {
  display: flex;
  flex-direction: column;
  padding : 5px 0px 0px 0px;
  row-gap: 8px;
 
} 

footer .liste li a {
    font-size: 13px;
    font-weight: 600;
} 

footer .liste {
    width: 130px;
    margin-left: 0px;
}
footer #legal {
    width: 180px;
}
footer .listes {
    padding-left: 60px;
}
footer .listes .spam {
    margin-top: 25px;
    font-size: 13px;
    margin-bottom: 25px;
    
}
 footer .listes input {
    padding: 11px 70px 11px 5px; 
    color: lightgray;
    border: 2px solid lightgray;
    border-radius: 5px 0 0 5px;
    
}

footer .listes .btnInput {
    padding: 13px 18px;
    text-align: center;
    margin-left: -6px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    background-color: #6415ff;
    color : #fff;
    
}

footer input {
    outline : none;
}

.border {
    border-top: 2px solid #b6bcc5;
    margin-top: 50px;
    
}

footer .flex .section1 .logoSection1 {
    width: 40px;
}

footer .cont {
    width: 980px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;

}

.section1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    
}

.section2 p,a {
    font-size: 13px;
}
.section3 {
    display: flex;
    width: 150px;
    justify-content: space-between;
    
}

#value {
    font-size: 20px;
    color: rgb(98, 198, 203);

}
.section3 .facebook, .twitter, .youtube {
    background-color: #0e0e0e;
    border-radius: 50%;
    align-items: center;
    width: 20px;
    padding: 5px;
}
@media (min-width: 690px){
    .none {
        display:none;
    }
}

@media screen and (max-width: 674px){     
    /* je dois m'entrainer au responsive, ça a été une grosse galère, et vers la fin j'ai un peu fait n'importe quoi
    j'ai mis des width partout car rien ne voulais se centrer au milieu de la page, grosse marge a droite avec la barre de scroll
    désolée pour mon code */

    body {
        padding: 0;
        margin:0;
        overflow-x: hidden;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
        
    }
    header {
        width: 650px; 
    }
  
    
    header .logo {
        width: 20px;
    }
    header .menu , .connect{
        display : none;
    }
    header .none .logo {
        
        justify-content: space-between;
        
    }
    .nav {
        width: 250px;
    }
    main {
        width: 650px;
    }
    
    .delicieux .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .delicieux .flex h1 {
        font-size: 20px;
        text-align: center;
        width: 250px;
    }

    .delicieux .flex .description {
        font-size: 10px;
        text-align: center;
        width: 250px;
    }
    .delicieux .btn {
        font-size: 8px;

    }

    .hove{
        width: 350px;
    }

    .delicieux .assiette {
        width: 200px;
        margin-top: 50px;
        position:relative;
        z-index: 1;
        
    }
    .delicieux .pattern {
            margin-left: -509px;
            margin-top: 15px;
            width: 80px;

    }
    .js {
        display: none;
    }
  
    
    .service .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -100px;
    }
    .service .flex .assiette2 {
        width: 200px;
        position: relative;
        z-index: 1;
    }
    .service .flex .violet {
        margin-top: 100px;
        text-align: center;
    }
    .service .flex h2 {
        font-size: 20px;
        text-align: center;
        width: 250px;
    }

    .description1 {
        font-size: 10px;
        width: 250px;
    }
    .service .ajout {
        font-size: 9px;
        align-items: center;
        margin: auto;


    }
    .service .pattern2 {
        margin-left: 100px;
        margin-top: -350px;
        position: absolute;
        width: 80px;
    }
    
    .prestation {
        align-items: center;
        text-align: center;
    }
    .prestation h3{
        font-size: 20px;
        align-items: center;
        text-align: center ;
        padding-left: 350px;
        margin: auto;
        width: 250px;
    }
    .flex1 {
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .choisir {
        padding-top: 0;
    }
    .choisir .flex {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .choisir .assiette3 {
        width: 200px;
    }
    .choisir .flex2 .text {
        margin-top: 5px;
        
    }
    
    .choisir span {
        font-size: 20px;
        text-align: center;
    }
    .flex2 span {
        font-size: 10px;
    }

    .descri {
        width: 250px;
    }
    .choisir .flex2 .contenant1, .contenant2, .contenant3{
        text-align: center;
        align-items: center;
        margin: auto;
        
    }
    .skew {
        margin: auto;
    }
    .pattern3 {
        position: absolute;
        left: -330px;
        top : -265px;
        width: 80px;
    }
    footer {
        width: 650px;
        margin: 0;
        padding : 0 0px;
        background-color: #718096;
        background: cover;
        
        
    }

    footer > .container2 > .flex {
        flex-wrap: wrap;
      }
   footer .liste .link{
        
        font-size: 5px;

}
    .bulle, .border {
        display:none;
    }
    .cont {
        flex-direction: column;
    }
    .section1, .section2, .section3 {
        width: 215px;
    }
    



}
       
   

