body{
  width: 100%;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  color :#243e63;
  
  
}

.header {
  width: 1000px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;

  
}

.title  {
  font-weight: bold;
  text-shadow: 3px 3px 0 rgba(13, 24, 28, 0.1);
}
.block {
  display: inline-block;
  
}

.link{
  display: flex;
  background-color: rgb(226, 223, 223);
  border-radius: 5px;
  
  
  
}

.link li {
  list-style: none;
  padding: 10px;
  margin: auto;
}

.link li a {
  text-decoration: none;
  color:black;
  
}

.bg {
  background-color: #6415ff;
  color: #fff !important;
  border-radius: 2px;
  margin: auto;
  padding: 2px 15px;
}
.skew {
  padding-left: 5px;
  transform: skew(-14deg);
  background-color: #6415ff;
  width: fit-content;
  color: #fff;
}

.list {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding-top: 35px;
}

.card img {
  width: 100%;
  height: 60%;
}

.card {
  background-color: #fff;
  width: 200px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(13, 24, 28, 0.2);
  transition: 0.2s;
}